@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px; /* Set your desired width */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Change color on hover */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #ddd; /* Set the color of the scrollbar handle */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the color of the scrollbar track */
}

.trending-posts-scroll {
  overflow-y: hidden;
}

.trending-posts-scroll:hover {
  overflow-y: auto;
}

.trending-posts-container {
  /* Add styling to the container if needed */
}

.trending-posts-scroll {
  max-height: calc(100vh - 160px); /* Adjust the max-height as needed */
  overflow-y: auto;
}

.sticky-top {
  position: sticky;
  top: 80px; /* Adjust the top value as needed */
}
.convos {
  height: calc(100vh - 220px);
  overflow-y: auto;
  overflow-x: hidden;
}

/*----Custom scrollbar----*/
/*--Width--*/
.scrollbar::-webkit-scrollbar {
  width: 5px;
}
/*--T
  /*--Track--*/
.scrollbar::-webkit-scrollbar-track {
  background: #888;
}
/*--Thumb--*/
.scrollbar::-webkit-scrollbar-thumb {
  background: #444e54;
}
